@use '../../styles/abstracts/variables' as v;

.layout {
  min-height: 100vh;

  &__main {
    margin-left: v.$sidebar-width;
    margin-top: v.$header-height;
    padding: v.$space-6;
    min-height: calc(100vh - v.$header-height);
    transition: margin-left v.$transition-base;
  }

  &--collapsed &__main {
    margin-left: v.$sidebar-collapsed-width;
  }
}
